.Rproj.user
.Rhistory
.RData
.Ruserdata
.claude/
CLAUDE.md

# qrtdown
/.quarto/
**/*.quarto_ipynb

# qrtdown
_quarto.yml
_qrtdown-styles.css
_qrtdown/
index.qmd

# R CMD check
*.Rcheck/
..Rcheck/

# Quarto
_freeze/

# Brand
_brand.yml
